* {
  -webkit-backface-visibility: visible;
  backface-visibility:visible;
  transform-style: preserve-3d;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  background: #000;
}

#lobby {
  margin:0;
}

#top {
  padding: .5rem;
  margin: 1rem;
  position: relative;
  --glowcol: #F0F;
}

#bot {
  padding: .5rem;
  margin: 1rem;
  position: relative;
  --glowcol: #0FF;
}


#top input {
  width:95%;
  background:none;
  color: #fff;
  border: none;
  font-size: 3rem;
  padding: .5rem;
}


#bck {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: .1rem 1rem;
}

.menui {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  margin: 1rem;
}

.menui h1 {
  font-size: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-weight: normal;
}

.menui h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: .5rem 0 0 4rem;  
}

.menui h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  margin: .1rem 0 .2rem 2.5rem;  
}

.no {
  opacity: .2;
  pointer-events: none;
}

.gone {
  display: none;
}

#gban {
  background: #0F0;
}

#game {
  width: 100%;
  height:100%;
}

@keyframes lookme {
  from { perspective-origin: -50% -100%; }
  to { perspective-origin: 50% -50%; }
}

#gameholder {
  display:flex;
  justify-content: center;
  height:100vh;

  perspective: 200vh;
  perspective-origin: 50% -50%;
  animation: lookme 1s ease-out;
}



#gamebrd {
  --bs: 30vh; 
  width: var(--bs);
  height: 100vh;  
}


.brdlev {
  border: 3px solid #55F;
  height: var(--bs);
  width: var(--bs);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  transform: rotateX(90deg);
  transform-origin: 50% 50%;
  position: absolute;
  left:0;
  top: -20rem;
  transition: top 3s;  
}

@keyframes dropme {
  from {top: 0vh;}
  to {top: 60vh;}
}

.brdlev.ex {  
  animation: dropme 5s var(--off) linear infinite;
  opacity: .5;
  pointer-events: none;
}


.brdspot {
  margin:5px;
  border: 3px solid #00F;  
  pointer-events: none;
}



.brdmark {
  position: absolute;  
  width: 80%;
  height:calc(100% - 10px);
  margin: 10%;
  transform: translate3d(0,0,0vh);
  pointer-events: none;
}


@keyframes flashme {
  from {background: rgba(0, 0,255,.1); }
  to {background: rgba(0, 0,255,.5); }
}

.brdspot.sel {
  animation: flashme .5s linear alternate infinite;  
  pointer-events:all;
}


.brdspot.p1 .brdmark {
  background-color: rgba(255, 0,0,.6);
  border-radius: 50%;
}

.brdmark.e1 {
  transform: rotateZ(10deg) scale(.8,.8)  translate3d(0,0,.5vh);
}
.brdmark.e2 {
  transform: rotateZ(20deg) scale(.6,.6) translate3d(0,0,1vh);
}

.brdspot.p2 .brdmark {
  background-color: rgba(0,192,128,.6);
  border-radius: 15%;

}


@keyframes pulsate {
    
  100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px var(--glowcol),
      0 0 80px var(--glowcol),
      0 0 90px var(--glowcol),
      0 0 100px var(--glowcol),
      0 0 150px var(--glowcol);
  }
  
  0% {
    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px var(--glowcol),
    0 0 45px var(--glowcol),
    0 0 55px var(--glowcol),
    0 0 70px var(--glowcol),
    0 0 80px var(--glowcol);
  }
}

.neon {
  color: #fff;
  --glowcol: #F00;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--glowcol),
    0 0 82px var(--glowcol),
    0 0 92px var(--glowcol),
    0 0 102px var(--glowcol),
    0 0 151px var(--glowcol);
  animation: pulsate 1s alternate infinite;
  border: 0.2rem solid #fff;
  
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem var(--glowcol),
            0 0 0.8rem var(--glowcol),
            0 0 2.8rem var(--glowcol),
            inset 0 0 1.3rem var(--glowcol),
            inset 0 0 2rem var(--glowcol);   
}