* {
  -webkit-backface-visibility: visible;
  backface-visibility:visible;
  transform-style: preserve-3d;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  background: #000;
}

#lobby {
  margin:0;
}

#top, #bot {
  padding: .5rem;
  margin: .5rem;
  position: relative;
}


#bck {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: .1rem 1rem;
}

.menui {
  cursor: pointer;
  position: relative;
  padding: 1em;
  background-color: #FFF;
  border: 1px solid #000;
  margin: 1rem;
}

.menui h1 {
  font-size: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-weight: normal;
}

.menui h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: .5rem 0 0 4rem;
  color: #000;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
}

.menui h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  margin: .1rem 0 .2rem 2.5rem;
  color: #444;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
}

.no {
  opacity: .2;
  pointer-events: none;
}

.gone {
  display: none;
}

#gban {
  background: #0F0;
}

#game {
  width: 100%;
  height:100%;
}

@keyframes lookme {
  from { perspective-origin: -50% -100%; }
  to { perspective-origin: 50% -50%; }
}

#gameholder {
  display:flex;
  justify-content: center;
  height:100vh;

  perspective: 200vh;
  perspective-origin: 50% -50%;
  animation: lookme 1s ease-out;
}



#gamebrd {
  --bs: 30vh; 
  width: var(--bs);
  height: 100vh;  
}


.brdlev {
  border: 3px solid #55F;
  height: var(--bs);
  width: var(--bs);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  transform: rotateX(90deg);
  transform-origin: 50% 50%;
  position: absolute;
  left:0;
  top: -20rem;
  transition: top 3s;  
}

@keyframes dropme {
  from {top: 0vh;}
  to {top: 60vh;}
}

.brdlev.ex {  
  animation: dropme 5s var(--off) linear infinite;
  opacity: .5;
  pointer-events: none;
}


.brdspot {
  margin:5px;
  border: 3px solid #00F;  
}


.brdmark {
  position: absolute;  
  width: 80%;
  height:calc(100% - 10px);
  margin: 10%;
  transform: translate3d(0,0,0vh);
}


@keyframes flashme {
  from {background: rgba(0, 0,255,.1); }
  to {background: rgba(0, 0,255,.5); }
}

.brdspot.sel {
  animation: flashme .5s linear alternate infinite;  
}


.brdspot.p1 .brdmark {
  background-color: rgba(255, 0,0,.6);
  border-radius: 50%;
}

.brdmark.e1 {
  transform: rotateZ(10deg) scale(.8,.8)  translate3d(0,0,.5vh);
}
.brdmark.e2 {
  transform: rotateZ(20deg) scale(.6,.6) translate3d(0,0,1vh);
}

.brdspot.p2 .brdmark {
  background-color: rgba(0,192,128,.6);
  border-radius: 15%;

}

